.button {
  border: 1px solid #E2E3E5;
  border-radius: 6px;
  transition: .2s;
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
  height: 48px;
  background: white;
}

.button:hover {
  border: 2px solid #5D5FEF;
}

.button:active {
  background: #5D5FEF;
  color: white;
}