.block-container {
  box-sizing: border-box;
  display: grid;
  padding: 4px 4px;
  gap: 8px;
  transition: .2;
}

.block-container_type_template {
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.block-container_inactive {
  opacity: .5;
  pointer-events: none;
}

.block-container_selected {
  border-bottom: 1px solid #5D5FEF;;
}